html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}



.container {
    border: 1px solid rgb(17, 17, 17);
    border-radius: 10px;
    width:fit-content;
    height:fit-content;
    padding: 15px 35px 15px 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container h2 {
    letter-spacing: 1px;
}

.container form {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.container label {
    font-size: 0.9rem;
}
.container input {
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid rgba(17, 17, 17);
    border-radius: 7px;
    width: 275px;
    height: 35px;
    padding: 10px;
    box-sizing: border-box;
}
.container button {
    background-color: rgb(17, 17, 17, 0.9);
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: 5px;
    width: 275px;
    height: 40px;
    box-sizing: border-box;
    font-size: 0.9rem;
}
.container .sign-in {
    font-size: 0.9rem;
    color: rgb(17, 17, 17);
    text-wrap: nowrap;
}
.container a {
    text-decoration: none;
    color: rgb(17, 17, 17);
}





@media screen and (max-width: 700px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: fit-content;
    }
    
    .container form {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}


@media screen and (max-width: 700px) and (max-height: 630px) {
    html, body {
        height: auto;
        overflow-y: auto;
        padding: 7.5px 0;
    }
}

@media screen and (max-height: 550px) and (min-width: 701px) {
    html, body {
        /* display: block; */
        overflow-y: auto;
        height: auto;
    }

    .container {
        height: fit-content;
        margin: 84px auto 84px auto;
    }
}