html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid rgb(17, 17, 17);
    border-radius: 10px;
    width: 90%;
    /* max-width: 500px; */
    /* min-height: 250px; */
    height: auto;
    padding: 15px 0 0 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
}
.container h2 {
    text-align: center;
    padding-bottom: 5px;
    letter-spacing: 1px;
    text-wrap: nowrap;
}
.container .left {
    float: left;
    position: relative;
    top: 100px;
    right: 90px;
}
.container .left label {
    font-size: 0.9rem;
    position: relative;
    left: -7px;
}
.container .left input {
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid rgba(17, 17, 17);
    border-radius: 7px;
    position: relative;
    left: -7px;
    width: calc(100% + 75px);
    height: 35px;
    padding: 10px;
    box-sizing: border-box;
}

.container .right {
    float: right;  
    position: relative;
    left: 125px;
    bottom: 128px; 
}
.container .right label {
    font-size: 0.9rem;
    position: relative;
    left: -7px;
}
.container .right input {
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid rgba(17, 17, 17);
    border-radius: 7px;
    position: relative;
    left: -7px;
    width: calc(100% + 75px);
    height: 35px;
    padding: 10px;
    box-sizing: border-box;
}
.container .right button {
    background-color: rgb(17, 17, 17, 0.9);
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: 5px;
    position: relative;
    left: -7px;
    width: calc(100% + 75px);
    height: 40px;
    box-sizing: border-box;
}

.container p {
    position: relative;
    top: 350px;
    right: 441px;
    font-size: 0.9rem;
    color: rgb(17, 17, 17);
    text-wrap: nowrap;
}
.container a {
    text-decoration: none;
    color: rgb(17, 17, 17);
}