html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    height: auto;
    padding: 0px 100px 30px 100px;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #0D0D0F;
    box-shadow: 2px 2px 2px #DBDBDB;
}
.container h1{
    position: relative;
    left: -70px;
}
.container p {
    position: relative;
    left: -70px;
    bottom: 15px;
    font-size: 0.9rem;
}
.container label {
    position: relative;
    left: -70px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #0D0D0F;
}
.container input {
    height: 33px;
    width: calc(100% + 135px);
    position: relative;
    left: -70px;
    border: none;
    border-radius: 5px;
    background-color: #F3F2F7;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.container button {
    float: right;
    position: relative;
    left: 65px;
    top: 15px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #0D0D0F;
}
.container .sign-in {
    position: relative;
    left: -70px;
    top: 8px;
    font-size: 0.9rem;
    text-wrap: nowrap;
}
.container .sign-in a {
    color: #0D0D0F;
    text-decoration: none;
}