.card {
    width: 65%;
    align-items: center;
    justify-items: flex-start;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: flex;
    gap: 70px;
    margin-top: 210px;
    float: right;
    padding: 15px 85px 30px 30px;
    border: 1px solid rgba(17, 17, 17);
    border-radius: 10px;
    height: auto;
}
.left {
    padding-right: 70px;
}
.right {
    padding-top: 82px;
}
form h2 {
    padding-bottom: 10px;
}
form label {
    display: flex;
    font-size: 0.9rem;
    margin-bottom: 10px;
}
form input {
    width: 120%;
    height: 25px;
    padding: 5px 10px 5px 10px;
    border: 1px solid rgba(17, 17, 17);
    border-radius: 5px;
}
form button {
    margin-top: 33px;
    width: 129.5%;
    height: 35px;
    padding: 5px 10px 5px 10px;
    border: 1px solid rgba(17, 17, 17);
    border-radius: 50px;
    color: white;
    background-color: rgba(17, 17, 17);
}
form p {
    padding-top: 5px;
    font-size: 0.8rem;
}
form p a {
    text-decoration: none;
    color: rgba(17, 17, 17);
    font-weight: bold;
}